@import "tailwindcss";

@layer base {
  :root {
    --background-oklch: oklch(0.99 0 0);
    --foreground-oklch: oklch(0.35 0.02 165.48);
    --card-oklch: oklch(1 0 0);
    --card-foreground-oklch: oklch(0.35 0.02 165.48);
    --popover-oklch: oklch(1 0 0);
    --popover-foreground-oklch: oklch(0.35 0.02 165.48);
    --primary-oklch: oklch(0.67 0.17 153.85);
    --primary-foreground-oklch: oklch(0.99 0.02 175.22);
    --secondary-oklch: oklch(0.9 0.02 238.66);
    --secondary-foreground-oklch: oklch(0.2 0.02 266.02);
    --muted-oklch: oklch(0.9 0.02 240.73);
    --muted-foreground-oklch: oklch(0.5 0.03 268.53);
    --accent-oklch: oklch(0.9 0.02 240.73);
    --accent-foreground-oklch: oklch(0.35 0.02 165.48);
    --destructive-oklch: oklch(0.61 0.24 20.96);
    --border-oklch: oklch(0.94 0.01 238.46);
    --input-oklch: oklch(0.85 0.02 240.75);
    --ring-oklch: oklch(0.67 0.17 153.85);
    --sidebar-oklch: oklch(0.98 0.01 238.45);
    --sidebar-foreground-oklch: oklch(0.35 0.02 165.48);
    --sidebar-primary-oklch: oklch(0.67 0.17 153.85);
    --sidebar-primary-foreground-oklch: oklch(0.98 0.01 238.45);
    --sidebar-accent-oklch: oklch(0.9 0.02 240.73);
    --sidebar-accent-foreground-oklch: oklch(0.35 0.02 165.48);
    --sidebar-border-oklch: oklch(0.85 0.02 240.75);
    --sidebar-ring-oklch: oklch(0.67 0.17 153.85);
    --background: 300 0% 98.68%;
    --foreground: 152.26 11.72% 21.76%;
    --card: 300 50% 100%;
    --card-foreground: 152.26 11.72% 21.76%;
    --popover: 300 50% 100%;
    --popover-foreground: 152.26 11.72% 21.76%;
    --primary: 153.38 100% 34.36%;
    --primary-foreground: 161.2 121.13% 97.11%;
    --secondary: 204.99 35.99% 87.17%;
    --secondary-foreground: 221.57 27.63% 9.61%;
    --muted: 206.07 36.17% 87.28%;
    --muted-foreground: 223.21 11.97% 40.95%;
    --accent: 206.07 36.17% 87.28%;
    --accent-foreground: 152.26 11.72% 21.76%;
    --destructive: 347.97 89.1% 50.69%;
    --border: 204.97 30.06% 92.25%;
    --input: 206.07 23.75% 80.89%;
    --ring: 153.38 100% 34.36%;
    --chart-1: 153.38 100% 34.36%;
    --chart-2: 226.32 33.86% 45.76%;
    --chart-3: 183.4 81.41% 42.43%;
    --chart-4: 51.99 46.76% 62.3%;
    --chart-5: 263.68 49.01% 60.2%;
    --sidebar: 204.97 93.25% 97.48%;
    --sidebar-foreground: 152.26 11.72% 21.76%;
    --sidebar-primary: 153.38 100% 34.36%;
    --sidebar-primary-foreground: 204.97 93.25% 97.48%;
    --sidebar-accent: 206.07 36.17% 87.28%;
    --sidebar-accent-foreground: 152.26 11.72% 21.76%;
    --sidebar-border: 206.07 23.75% 80.89%;
    --sidebar-ring: 153.38 100% 34.36%;
    --font-sans: Lato, sans-serif;
    --font-serif: Merriweather, Geist, Geist Fallback, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: 'Roboto Mono', Geist Mono, Geist Mono Fallback, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --radius: 0.25rem;
    --shadow-2xs: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.02);
    --shadow-xs: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.02);
    --shadow-sm: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 1px 2px -1px oklch(0.35 0.05 163.02 / 0.04);
    --shadow: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 1px 2px -1px oklch(0.35 0.05 163.02 / 0.04);
    --shadow-md: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 2px 4px -1px oklch(0.35 0.05 163.02 / 0.04);
    --shadow-lg: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 4px 6px -1px oklch(0.35 0.05 163.02 / 0.04);
    --shadow-xl: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.04), 0px 8px 10px -1px oklch(0.35 0.05 163.02 / 0.04);
    --shadow-2xl: 0px 1px 3px 0px oklch(0.35 0.05 163.02 / 0.1);
}

  .dark {
    --background-oklch: oklch(0.15 0.02 269.18);
    --foreground-oklch: oklch(0.95 0.01 238.46);
    --card-oklch: oklch(0.2 0.02 266.02);
    --card-foreground-oklch: oklch(0.95 0.01 238.46);
    --popover-oklch: oklch(0.2 0.02 266.02);
    --popover-foreground-oklch: oklch(0.95 0.01 238.46);
    --primary-oklch: oklch(0.67 0.17 153.85);
    --primary-foreground-oklch: oklch(0.15 0.02 269.18);
    --secondary-oklch: oklch(0.3 0.03 271.05);
    --secondary-foreground-oklch: oklch(0.95 0.01 238.46);
    --muted-oklch: oklch(0.3 0.03 271.05);
    --muted-foreground-oklch: oklch(0.6 0.03 269.46);
    --accent-oklch: oklch(0.3 0.03 271.05);
    --accent-foreground-oklch: oklch(0.95 0.01 238.46);
    --destructive-oklch: oklch(0.64 0.25 19.69);
    --border-oklch: oklch(0.95 0.01 238.46 / 15%);
    --input-oklch: oklch(0.95 0.01 238.46 / 20%);
    --ring-oklch: oklch(0.67 0.17 153.85);
    --sidebar-oklch: oklch(0.2 0.02 266.02);
    --sidebar-foreground-oklch: oklch(0.95 0.01 238.46);
    --sidebar-primary-oklch: oklch(0.67 0.17 153.85);
    --sidebar-primary-foreground-oklch: oklch(0.15 0.02 269.18);
    --sidebar-accent-oklch: oklch(0.3 0.03 271.05);
    --sidebar-accent-foreground-oklch: oklch(0.95 0.01 238.46);
    --sidebar-border-oklch: oklch(0.95 0.01 238.46 / 15%);
    --sidebar-ring-oklch: oklch(0.67 0.17 153.85);
    --background: 225.11 43.11% 5.39%;
    --foreground: 204.97 36.22% 93.56%;
    --card: 221.57 27.63% 9.61%;
    --card-foreground: 204.97 36.22% 93.56%;
    --popover: 221.57 27.63% 9.61%;
    --popover-foreground: 204.97 36.22% 93.56%;
    --primary: 153.38 100% 34.36%;
    --primary-foreground: 225.11 43.11% 5.39%;
    --secondary: 225.72 20.77% 19.86%;
    --secondary-foreground: 204.97 36.22% 93.56%;
    --muted: 225.72 20.77% 19.86%;
    --muted-foreground: 223.86 10.7% 52.47%;
    --accent: 225.72 20.77% 19.86%;
    --accent-foreground: 204.97 36.22% 93.56%;
    --destructive: 347.13 101.03% 54.58%;
    --border: 204.97 36.22% 93.56%;
    --input: 204.97 36.22% 93.56%;
    --ring: 153.38 100% 34.36%;
    --chart-1: 153.38 100% 34.36%;
    --chart-2: 225.56 38.5% 57.44%;
    --chart-3: 183.4 81.41% 42.43%;
    --chart-4: 51.99 46.76% 62.3%;
    --chart-5: 263.68 49.01% 60.2%;
    --sidebar: 221.57 27.63% 9.61%;
    --sidebar-foreground: 204.97 36.22% 93.56%;
    --sidebar-primary: 153.38 100% 34.36%;
    --sidebar-primary-foreground: 225.11 43.11% 5.39%;
    --sidebar-accent: 225.72 20.77% 19.86%;
    --sidebar-accent-foreground: 204.97 36.22% 93.56%;
    --sidebar-border: 204.97 36.22% 93.56%;
    --sidebar-ring: 153.38 100% 34.36%;
    --shadow-2xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.01);
    --shadow-xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.01);
    --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.01), 0px 1px 2px -1px rgba(0, 0, 0, 0.01);
    --shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.01), 0px 1px 2px -1px rgba(0, 0, 0, 0.01);
    --shadow-md: 0px 1px 2px 0px rgba(0, 0, 0, 0.01), 0px 2px 4px -1px rgba(0, 0, 0, 0.01);
    --shadow-lg: 0px 1px 2px 0px rgba(0, 0, 0, 0.01), 0px 4px 6px -1px rgba(0, 0, 0, 0.01);
    --shadow-xl: 0px 1px 2px 0px rgba(0, 0, 0, 0.01), 0px 8px 10px -1px rgba(0, 0, 0, 0.01);
    --shadow-2xl: 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
  }
}
@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}
